/* about.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('rich-history-of-currencies-promo.jpg');
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 1); /* Set the background color */
    margin: 0px;
    padding: 20px;
    background-color: #f4f4f4; /* Set the background color */
    color: #333;
}

.container {
    margin-top: 80px;
    max-width: 600px; /* Set maximum width */
    margin-left: auto; /* Width from the side */
    margin-right: auto;
    background: white; /* Set background color */
    padding: 20px; /* Add padding */
    border-radius: 8px; /* Add border radius */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add box shadow */
}

h1 {
    text-align: center; /* Center align heading */
    color: #333; /* Set heading color */
}

strong {
    color: #45a049;
}

p {
    margin-top: 0px;
    margin-bottom: 16px;
}

strong {
    display: block;
    margin-bottom: 0px;
}

/* Bar Tab styling */
.tab-container {
    display: inside;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
}

/* Style for the tab button */
.tab-button {
    background-color: white(116, 116, 116);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px; /* Add border radius */
}

.tab-button:hover {
    background-color: rgb(210, 210, 210);
}

/* Style for the tab content */
.tab-content {
    display: none;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
}

/* Show tab content when tab is active */
.active {
    display: block;
}

